<div class="container mt-5 pb-4">
  <h1 class="jockeyOne"><i class="bi bi-list-ul lista"></i>&nbsp;&nbsp;{{getTexto('lists')}}</h1>

  <!-- Crear Lista -->
  <div class="container py-4">
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton class="fondoAzul"><h3 class="m-0 jockeyOne text-white">{{getTexto('newlist')}}</h3></button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="fondoGris rounded-bottom-3">
            <ng-template>
              <div class="mb-0">
                <input
                  type="text"
                  class="form-control mb-3 mt-2 freeman"
                  placeholder="{{getTexto('listname')}}"
                  [(ngModel)]="nuevaLista.nombre"
                />
                <textarea
                  class="form-control mb-3 freeman"
                  placeholder="{{getTexto('listdesc')}}"
                  [(ngModel)]="nuevaLista.descripcion"
                  rows="4"
                ></textarea>
                  <button class="btn btn-primary sombra fondoAzul mb-2" (click)="crearLista()">
                    <h5 class="m-0 p-1"><i class="bi bi-sign-intersection-fill"></i>&nbsp;&nbsp;{{getTexto('create')}}</h5>
                  </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex">
    <div *ngFor="let lista of listas" class="col-md-4 col-12 my-3">

      <!--Carta lista-->
      <div id="tarjeta" 
        class="py-2 px-3 rounded-3 d-flex flex-column mx-1 fondoTarjeta sombra" style="height: 200px;">
        <a [routerLink]="['/listas', lista.id]" class="text-decoration-none text-black h-100">
          <div class="h-100 d-flex flex-column justify-content-center px-3">
            <h3 class="m-0 mb-2 text-center jockeyOne truncarLineas text-white">{{lista.name}}</h3>
            <span *ngIf="lista.item_count !== 1">
              <h6 class="m-0 text-center freeman gris">{{lista.item_count}} {{getTexto('elementos')}}</h6>
            </span>
            <span *ngIf="lista.item_count === 1">
              <h6 class="m-0 text-center freeman gris">{{lista.item_count}} {{getTexto('elemento')}}</h6>
            </span>
          </div>
        </a>
        <div class="text-end">
          <button type="button" (click)="abrirModalEliminar(lista.id)" class="btn papelera">
            <h4 class="m-0 pt-1"><i class="bi bi-trash-fill"></i></h4>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="listas.length === 0" class="text-center mt-5">
    <h4>{{getTexto('nolist')}}.</h4>
  </div>
</div>

<div *ngFor="let alert of alertMessages" class="alert-container freeman" style=" position: fixed; bottom: 5px; right: 22px; z-index: 1050; width: auto; max-width: 800px; margin-bottom: 0px;">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">
    @if(alert.message === getTexto('listCreated')) {
      <h4 class="m-0"><i class="bi bi-check-square-fill" style="font-size: 30px;"></i>&nbsp;&nbsp;{{ alert.message }}</h4>
    } @else if(alert.message === getTexto('listUnnamed')) {
      <h4 class="m-0"><i class="bi bi-exclamation-square-fill" style="font-size: 30px;"></i>&nbsp;&nbsp;{{ alert.message }}</h4>
    } @else {
      <h4 class="m-0"><i class="bi bi-check-square-fill" style="font-size: 30px;"></i>&nbsp;&nbsp;{{ alert.message }}</h4>
    }
  </ngb-alert>
</div>

<!-- Modal de confirmación -->
<ng-template #modalEliminar let-modal>
  <div class="modal-header bg-danger">
    <h3 class="modal-title text-white jockeyOne"><i class="bi bi-trash-fill"></i>&nbsp;&nbsp;{{getTexto('modalHeader')}}</h3>
  </div>
  <div class="modal-body">
    <h5 class="m-0 freeman">{{getTexto('modalBodyList')}}</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary freeman" (click)="modal.dismiss('Cancel')"><h5 class="m-0">{{getTexto('modalFooterNo')}}</h5></button>
    <button type="button" class="btn btn-danger freeman" (click)="eliminarLista()" (click)="eliminarElementoConfirmado(modal)"><h5 class="m-0">{{getTexto('modalFooterYes')}}</h5></button>
  </div>
</ng-template>
