/* TIPOGRAFÍAS --------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'jockeyOne';
    src: url(../../fonts/JockeyOne-Regular.ttf);
}

.jockeyOne {
    font-family: 'jockeyOne';
}

@font-face {
    font-family: 'freeman';
    src: url(../../fonts/Freeman-Regular.ttf);
}

.freeman {
    font-family: 'freeman';
}

@font-face {
    font-family: 'poppins';
    src: url(../../fonts/Poppins-Medium.ttf);
}

.poppins {
    font-family: 'poppins';
}

/* CARD DE ACTOR ---------------------------------------------------------------------------------------------------- */

h6 {
    font-size: 18px;
}

.gris {
    color: #7a7a7a;
}

.sombra {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 25%);
}

.puntosSuspensivos{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#tarjeta{
    transition-duration: 0.2s;
}

#tarjeta:hover{
    transform: scale(1.07);
}