/* TIPOGRAFÍA (JOCKEY ONE) --------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'jockeyOne';
    src: url(../../fonts/JockeyOne-Regular.ttf);
}

.jockeyOne {
    font-family: 'jockeyOne';
}

@font-face {
    font-family: 'freeman';
    src: url(../../fonts/Freeman-Regular.ttf);
}

.freeman {
    font-family: 'freeman';
}

/* HEADER -------------------------------------------------------------------------------------------------------------- */

header {
    background-color: #000A1E;
}

img {
    width: 60px;
}

.h1Header {
    font-size: 40px;
}

.textFilimuFy {
    background: linear-gradient(to right, #E95573, #20B7E5);
    background-clip: text;  /* Esta propiedad recorta el fondo para aplicarlo solo al texto */
    color: transparent;
}

input {
    font-size: 20px;
}

input::placeholder {
    color: #aaaaaa;
    font-size: 20px;
}  

.widthSearchrBar {
    width: 37%;
}

.btnSearchrBar {
    width: 41.6px;
    height: 41.6px;
    background-color: #E95573;
    color: white;
}

.btnSearchrBar:hover {
    background-color: #20B7E5;
    color: white;
}

.iconoPerfil {
    font-size: 45px;
}

.btnIniciarSesion {
    background: linear-gradient(to right, #E95573, #6c74a7);
    color: white;
    transition-duration: 0.01s;
}

.btnIniciarSesion:hover{
    background: linear-gradient(to right, #FFC107, #FFC107);
    color: black;
}

/* NAVBAR -------------------------------------------------------------------------------------------------------------- */

nav {
    background: linear-gradient(to right, #E95573, #20B7E5);
    color: white;
}

.romboide {
    transform: skew(-30deg);    /* Transformación para hacer que el fondo sea un romboide */
  }

.textoAntiRomboide {
    transform: skew(30deg);     /* Transformación inversa que anula la inclinación del texto*/
}

/* DROPDOWN USUARIO ---------------------------------------------------------------------------------------------------- */

.fondoGris {
    background-color: #E6E6E6;
}

.bordeRosa{
    border: 4px solid #E95573;
}

.corazon{
    color: #E95573;
}

.etiqueta{
    color: #00DBAF;
}

.puntosSuspensivos{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.btnCerrarSesion {
    background-color: #E95573;
    color: white;
}

.btnCerrarSesion:hover{
    background-color: #FFC107;
    color: black;
}

.g1:hover{
    /*background: linear-gradient(to right, #e4637d, #F10132);*/
    background: linear-gradient(to right, #E95573, #20B7E5);
    color: white !important;
}

.g2:hover{
    background: linear-gradient(to right, #FFC01E, #FB9403);
    color: white !important;
}

.g3:hover{

}


