<div class="row container-fluid">
    <div class="p-2" style="width: 15rem;">
        <img src="https://image.tmdb.org/t/p/original/9TFSqghEHrlBMRR63yTx80Orxva.jpg" class="rounded-4 card-img-top sombra" alt="Deadpool y Lobezno">
        <div class="card-body px-0 pt-2">
            <div class="text-white bg-black rounded-4 freeman mt-1 py-1 text-center">
                <h6 class="m-0"><i class="bi bi-star-fill text-warning"></i>&nbsp;&nbsp;7.8/10</h6>
            </div>
            <h5 class="card-title freeman text-start pt-2 m-0">Deadpool & Lobezno</h5>
            <p class="card-text gris freeman m-0">2024 - Acción/Comedia</p>
            <p class="card-text gris freeman m-0">2h 7m +18</p>
        </div>
    </div>
    <div class="p-2" style="width: 15rem;">
        <img src="https://image.tmdb.org/t/p/original/9xtH1RmAzQ0rrMBNUMXstb2s3er.jpg" class="rounded-4 card-img-top sombra" alt="Deadpool y Lobezno">
        <div class="card-body px-0 pt-2">
            <div class="text-white bg-black rounded-4 freeman mt-1 py-1 text-center">
                <h6 class="m-0"><i class="bi bi-star-fill text-warning"></i>&nbsp;&nbsp;8.4/10</h6>
            </div>
            <h5 class="card-title freeman text-start pt-2 m-0">El señor de los anillos: La comunidad del anillo</h5>
            <p class="card-text gris freeman m-0">2001 - Aventuras/Fantasía</p>
            <p class="card-text gris freeman m-0">2h 58m +12</p>
        </div>
    </div>
    <div class="p-2" style="width: 15rem;">
        <img src="https://image.tmdb.org/t/p/original/m8iQ4ZObxGbSu0cs8xTOVTeZ9QX.jpg" class="rounded-4 card-img-top sombra" alt="Deadpool y Lobezno">
        <div class="card-body px-0 pt-2">
            <div class="text-white bg-black rounded-4 freeman mt-1 py-1 text-center">
                <h6 class="m-0"><i class="bi bi-star-fill text-warning"></i>&nbsp;&nbsp;8.1/10</h6>
            </div>
            <h5 class="card-title freeman text-start pt-2 m-0">Vikingos</h5>
            <p class="card-text gris freeman m-0">2013 - Acción y Aventura, Drama, Guerras y Política</p>
            <p class="card-text gris freeman m-0">6 temporadas +16</p>
        </div>
    </div>
    <div class="p-2" style="width: 15rem;">
        <img src="https://image.tmdb.org/t/p/original/hSZNM0pQ61XUUfyQ8ZDmmnrX5LE.jpg" class="rounded-4 card-img-top sombra" alt="Deadpool y Lobezno">
        <div class="card-body px-0 pt-2">
            <div class="text-white bg-black rounded-4 freeman mt-1 py-1 text-center">
                <h6 class="m-0"><i class="bi bi-star-fill text-warning"></i>&nbsp;&nbsp;8.7/10</h6>
            </div>
            <h5 class="card-title freeman text-start pt-2 m-0">Kimetsu no Yaiba: Guardianes de la Noche</h5>
            <p class="card-text gris freeman m-0">2019 - Animación, Acción y Aventura, Ciencia ficción y Fantasía</p>
            <p class="card-text gris freeman m-0">5 temporadas +12</p>
        </div>
    </div>
</div>