<div class="mobile-optimized-container">
    <div class="actors-section">
        <div class="netflix-grid">
            @for (item of listaActores; track $index) {
                <div class="card-container">
                    <app-actor-card [actorId]="item"></app-actor-card>
                </div>
            }
        </div>
        
        <div class="load-more-container">
            <button class="load-more-btn jockeyOne" (click)="cargarActores()">
                {{getTexto('more')}}
            </button>
        </div>
    </div>
</div>