@font-face {
    font-family: 'jockeyOne';
    src: url(../../fonts/JockeyOne-Regular.ttf);
}

.jockeyOne {
    font-family: 'jockeyOne';
}

.sombra {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 25%);
}
.azulOscuro{
    background-color: #000A1E;
}