/* TIPOGRAFÍAS --------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'jockeyOne';
    src: url(../../fonts/JockeyOne-Regular.ttf);
}

.jockeyOne {
    font-family: 'jockeyOne';
}

@font-face {
    font-family: 'freeman';
    src: url(../../fonts/Freeman-Regular.ttf);
}

.freeman {
    font-family: 'freeman';
}

@font-face {
    font-family: 'poppins';
    src: url(../../fonts/Poppins-Medium.ttf);
}

.poppins {
    font-family: 'poppins';
}

/* INFORMACIÓN DE LA PELÍCULA ----------------------------------------------------------------------------------------- */

.gris{
    color: #909090;
}

.fondoRosa{
    background-color: #E05A78 !important;
}

.tamanhoPlay{
    font-size: 30px;
}

.fondoCubierto{
    background-size: cover;
}

.azulOscuro{
    color: #001743;
}

.tamanhoCirculo{
    font-size: 16px;
}

/* DATOS DE LA SERIE ----------------------------------------------------------------------------------------- */

.grisClaroFondo{
    background-color: #EDEDED;
}

.degradado{
    background: linear-gradient(180deg, #E95573, #20B7E5);
}

.fondoNegro{
    background-color: #000A1E;
}

.palabraClave:hover h6{
    background-color: rgb(255, 193, 7, 1);
    color: black !important;
}

/*AÑADIR A FAVORITO, VALORAR, AÑADIR A WATCHLISTS -------------------------------------------------------------- */

.tamanhoIcono{
    font-size: 24px;
}

.boton{
    background-color: #909090;
    color: white;
}

.corazon{
    background-color: #e4637d;
    color: white;
}

.estrella{
    background-color: #fbbd03;
    color: white;
}

.etiqueta{
    background-color: #00A785;
    color: white;
}

.sombraFuerte {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 50%);
}

/*TARJETAS DE TEMPORADA ----------------------------------------------------------------------------------------- */

.negro{
    color: #000A1E;
}

.degradadoTemporada{
    background: linear-gradient(to right, #27B4DF, #6c74a7);
}

.sombra {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 25%);
}

.truncarLineas{
  display: -webkit-box;          /*Esta propiedad permite establecer un diseño de caja.*/
  -webkit-line-clamp: 5;         /*Esta propiedad sirve para truncar el texto después de 5 líneas.*/
  -webkit-box-orient: vertical;  /*Esta propiedad sirve para establecerla orientación del contenido dentro de la caja.*/
  overflow: hidden;              /*Esta propiedad permite ocultar el contenido desbordado.*/
}