<div class="py-5">
    <div class="container">
        <h1 class="jockeyOne m-0 mb-3">{{getTexto('movies')}}</h1>
        <div class="netflix-grid">
            @for (pelicula of listaPeliculas; track pelicula.id) {
                <app-pelicula-card [peliculaId]="pelicula.id"></app-pelicula-card>
            }
        </div>
    </div>

    <div class="container my-5">
        <h1 class="jockeyOne m-0 mb-3">{{getTexto('shows')}}</h1>
        <div class="netflix-grid">
            @for (item of listaSeries; track $index) {
                <app-serie-card [serieId]="item.id"></app-serie-card>
            }
        </div>
    </div>

    <div class="container">
        <h1 class="jockeyOne m-0 mb-3">{{getTexto('actores')}}</h1>
        <div class="actors-grid">
            @for (item of listaActores; track $index) {
                <app-actor-card [actorId]="item"></app-actor-card>
            }
        </div>
    </div>
</div>