/* TIPOGRAFÍAS --------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'jockeyOne';
    src: url(../../fonts/JockeyOne-Regular.ttf);
}

.jockeyOne {
    font-family: 'jockeyOne';
}

@font-face {
    font-family: 'freeman';
    src: url(../../fonts/Freeman-Regular.ttf);
}

.freeman {
    font-family: 'freeman';
}

@font-face {
    font-family: 'poppins';
    src: url(../../fonts/Poppins-Medium.ttf);
}

.poppins {
    font-family: 'poppins';
}

.sombra {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 25%);
}

.azulOscuro{
    background-color: #000A1E;
}

.lista{
    color: #20B7E5;
}

/* POSICIÓN Y DISEÑO DE LA PAPELERA ---------------------------------------------------------------------------- */

.papelera{
    background-color: #6c74a7;
    color: white;
}

.papelera:hover{
    background-color: #e40000;
    color: white;
}

.papeleraPosition{
    position: relative;
    top: 9px;
}

/* PESTAÑAS ---------------------------------------------------------------------------------------------------- */

.nav-pills {
    border-bottom: 2px solid #e0e0e0; /* Línea divisoria para las pestañas */
    margin-bottom: 20px;
}

.nav-pills .nav-link {
    border-radius: 10px 10px 0 0; /* Bordes redondeados superiores */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #555; /* Color del texto inactivo */
    background-color: transparent; /* Fondo transparente para las pestañas inactivas */
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.nav-pills .nav-link.active-tab {
    background-color: #20b7e5; /* Fondo rosado para la pestaña activa */
    color: white; /* Texto blanco en la pestaña activa */
}

.nav-pills .nav-link.inactive-tab:hover {
    background-color: #c7eefc; /* Fondo más claro al hacer hover */
    color: #20b7e5;
}

.nav-pills .nav-link:not(.active-tab):focus {
    outline: none;
    border-color: #20b7e5;
    background-color: #eef9fc;
}
