<div class="p-2" style="width: 15rem;">
  <a [routerLink]="['/series', serieId]" class="text-decoration-none text-black">
    <img src="{{serieDetalle!.poster_path | imagen}}" class="rounded-4 card-img-top sombra" alt="{{serieDetalle!.name}}">
    <div class="card-body px-0 pt-2">
      <div class="text-white bg-black rounded-4 freeman mt-1 py-1 text-center">
        <h6 class="m-0"><i class="bi bi-star-fill text-warning"></i> {{serieDetalle!.vote_average}}/10</h6>
      </div>
      <h5 class="card-title freeman text-start pt-2 m-0">{{serieDetalle!.name}}</h5>
      <p class="card-text gris freeman m-0">{{serieDetalle!.first_air_date}} - 
        <span *ngFor="let genre of serieDetalle!.genres">{{ genre.name }}</span>
      </p>
      <p class="card-text gris freeman m-0">
        <span *ngIf="serieDetalle!.number_of_seasons === 1">
          {{serieDetalle!.number_of_seasons}} temporada
        </span>
        <span *ngIf="serieDetalle!.number_of_seasons !== 1">
          {{serieDetalle!.number_of_seasons}} temporadas
        </span>
      </p>
    </div>
  </a>
  </div>
  