<div class="container-fluid mt-3">

  <!--PARTE SUPERIOR -------------------->
  <div class="row p-4 fondoNegro">

    <!--PARTE SUPERIOR IZQUIERDA-->
    <div class="w-25">
      @if(actor!.profile_path != null) {
        <img id="profile-picture" src="{{actor!.profile_path | imagen}}" width="25%" class="rounded-4 card-img-top"
          alt="{{actor!.name}}">
      } @else {
        <img id="profile-picture" [src]="placeholderFoto" width="25%" class="rounded-4 card-img-top"
          alt="{{actor!.name}}">
      }
    </div>

    <!--PARTE SUPERIOR DERECHA-->
    <div class="container w-75 mb-3 p-4">

      <!--Nombre-->
      <h1 class="mb-4 jockeyOne text-white">{{actor!.name | uppercase}}</h1>

      <!--Biografía-->
      <div class="mx-3">
        @if(actor!.biography !== '') {
          <h5 class="m-0 poppins text-white">{{actor!.biography}}</h5>
        }@else {
          <h5 class="m-0 poppins text-white">Biografía no disponible.</h5>
        }
      </div>

    </div>

  </div>

  <!--PARTE INFERIOR -------------------->
  <div class="container-fluid d-flex mt-4 pb-5">

    <!--Datos de la serie-->
    <div class="container w-25 degradado rounded-5 p-4 h-25 mt-2">

      <div class="mb-4">
        <h4 class="jockeyOne text-black">Fecha de nacimiento:</h4>
        <h5 class="freeman text-white" *ngIf="actor?.birthday; else noData">{{ actor?.birthday | date:'dd/MM/yyyy' }}</h5>
        <ng-template #noData>
          <h5 class="freeman text-white">-</h5>
        </ng-template>
      </div>

      <div class="mb-4">
        <h4 class="jockeyOne text-black" *ngIf="actor?.deathday; else noData2">Fecha de defunción:</h4>
        <h5 class="freeman text-white">{{ actor?.deathday| date:'dd/MM/yyyy' }}</h5>
        <ng-template #noData2>
          <!--No hace nada-->
        </ng-template>
      </div>

      <div class="mb-4">
        <h4 class="jockeyOne text-black">Lugar de nacimiento:</h4>
        <h5 class="freeman text-white" *ngIf="actor?.place_of_birth; else noData">{{ actor?.place_of_birth }}</h5>
      </div>

      <div class="mb-4">
        <h4 class="jockeyOne text-black">Conocido por:</h4>
        <h5 class="freeman text-white" *ngIf="actor?.known_for_department; else noData">{{ actor?.known_for_department}}</h5>
      </div>

      <div class="mb-4">
        <h4 class="jockeyOne text-black">Popularidad:</h4>
        <h5 class="freeman text-white">{{ actor?.popularity }}</h5>
      </div>

      <div>
        <h4 class="jockeyOne text-black">También conocido como:</h4>
        <div *ngFor="let nombre of actor?.also_known_as">
          <h5 class="freeman text-white">{{ nombre }}</h5>
        </div>
        <h5 class="freeman text-white" *ngIf="!actor?.also_known_as?.length">{{ actor?.name }}</h5>
      </div>

    </div>

    <!--Reparto principal-->
    <div class="container w-75">
      <h2 class="m-0 jockeyOne azulOscuro ms-4 p-2 pb-0">Conocido por</h2>

      <div class="container mt-2"><!--Esto es el scroll, NO TOCAR-->
        @if(actorPelis.length > 4){

        <div class="row d-flex flex-nowrap mt-0 ms-4" style="
          overflow: auto; 
          white-space: nowrap; 
          display: flex;
          overflow-x: scroll;
          overscroll-behavior-x: contain;
          scroll-snap-type: x proximity; 
          margin: 50px auto 0;">
          <div *ngFor="let peli of actorPelis; trackBy: trackById" class="col-md-3 col-12 p-2 my-3">
            <ng-container *ngIf="peli.media_type === 'movie'; else tvTemplate">
              <app-pelicula-card [peliculaId]="peli.id"></app-pelicula-card>
            </ng-container>
            <ng-template #tvTemplate>
              <app-serie-card [serieId]="peli.id"></app-serie-card>
            </ng-template>
          </div>
        </div>

        }@else if (actorPelis!.length > 0 && actorPelis.length <= 4) { 

          <div class="row d-flex flex-nowrap mt-0 ms-4">
            <div *ngFor="let peli of actorPelis; trackBy: trackById" class="col-md-3 col-12 p-2 my-3">
              <ng-container *ngIf="peli.media_type === 'movie'; else tvTemplate">
                <app-pelicula-card [peliculaId]="peli.id"></app-pelicula-card>
              </ng-container>
              <ng-template #tvTemplate>
                <app-serie-card [serieId]="peli.id"></app-serie-card>
              </ng-template>
            </div>
          </div>

      }@else {
        <h5 class="poppins mt-4 ms-5">No se han adjuntado películas o series por las que este actor haya sido reconocido.</h5>
      }
    </div>

  </div>

</div>