<!--backrop_path es la img del fondo, hay que usar la pipe de img-->
<!--Para la lista de actore deberas de hacer un @for de lista de creditos y así sacas la lista de los que han participado-->
<!--En la siguiente linea aparece el enlace para ver el trailer, solo habria que ponerlo bonito-->
<!--div *ngIf="selectedVideo">
    <a [href]="'https://www.youtube.com/embed/' + selectedVideo.key">Ver Video</a>
  </div-->

<!--Los proveedore no he sido capaz de mostrarlos, estan hechos en el ts y todo pero no soy capaz de que se vean-->









