.sombra {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 25%);
}
.azulOscuro{
    background-color: #000A1E;
}

@font-face {
    font-family: 'freeman';
    src: url(../../fonts/Freeman-Regular.ttf);
}

.freeman {
    font-family: 'freeman';
}