<div class="container mt-5 pb-4" style="width: 90%">
    <div class="row mt-5">
        <!-- Columna izquierda: Filtros y Géneros -->
        <div class="col-md-3 col-12 mb-4 pe-5">
            <!-- Título -->
            <h1 class="mb-2 jockeyOne azul text-center"><i class="bi bi-funnel-fill"></i> Filtros</h1>
            <hr>


            <h3 class="mb-2 jockeyOne">Géneros</h3>
            <!-- Lista de géneros con flexbox -->
            <div class="d-flex flex-wrap gap-2 pb-2">
                <div *ngFor="let genero of listaGeneros; let i = index">
                    <!-- Checkbox para seleccionar géneros -->
                    <input 
                        class="btn-check" 
                        type="checkbox" 
                        id="genero-{{i}}" 
                        [value]="genero.id"
                        (change)="onGenreChange($event)"
                    >
                    <!-- Botón estilizado para los géneros -->
                    <label 
                        class="btn genero-btn jockeyOne sombra w-100 text-center" 
                        for="genero-{{i}}"
                    >
                        {{ genero.name }}
                    </label>
                </div>
            </div>

            <!--Rango de valoración-->
            <h3 class="mb-2 mt-4 jockeyOne pb-1">Rango de valoración</h3>
            <div class="w-100 mt-4">
              <mat-slider min="0" max="10" step="1" [discrete]="true" style="width: 90%;">
                <input [(ngModel)]="minVal" matSliderStartThumb>
                <input [(ngModel)]="maxVal" matSliderEndThumb>
              </mat-slider>
            </div>

            <!--Rango de Duración-->
            <h3 class="mb-2 mt-4 jockeyOne pb-1">Duración (min)</h3>
            <div class="w-100 mt-4">
              <mat-slider min="0" max="390" step="15" [discrete]="true" style="width: 90%;">
                <input [(ngModel)]="minDur" matSliderStartThumb>
                <input [(ngModel)]="maxDur" matSliderEndThumb>
              </mat-slider>
            </div>

            <h3 class="mb-2 mt-4 jockeyOne pb-1">Proveedores</h3>
            <div class="scroll-container d-flex flex-wrap gap-2">
              <div *ngFor="let proveedor of listaProveedores; let i = index">
                <input 
                  class="btn-check" 
                  type="checkbox" 
                  id="proveedor-{{i}}" 
                  [value]="proveedor.provider_id"
                  (change)="onProviderChange($event)">
                <label 
                  class="btn jockeyOne w-100 text-center" 
                  for="proveedor-{{i}}">
                  <img [ngClass]="'rounded-4'" [style.width]="50 + 'px'" [src]="proveedor.logo_path | imagen" [alt]="proveedor.provider_name">
                </label>
              </div>
            </div>


            <!-- Botón Filtrar -->
            <div class="d-flex justify-content-start mt-4">
                <button 
                    class="btn btn-primary btn-lg w-100 jockeyOne sombra azulOscuro"
                    (click)="filtrar()">
                    Filtrar
                </button>
            </div>
        </div>

  
    <!-- Columna derecha: Cartas de películas -->
    <div class="col-md-9 col-12">
      <!-- Estado de carga -->
      <div *ngIf="loading" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>
  
      <!-- Mostrar películas -->
      <div *ngIf="!loading">
        <div class="row">
          <!-- Respetar el bucle original para las cartas -->
          <div *ngFor="let pelicula of listaPeliculas; trackBy: trackById" class="col-md-3 col-12 p-2 my-3">
            <app-pelicula-card [peliculaId]="pelicula.id"></app-pelicula-card>
          </div>
        </div>
  
        <!-- Botón para cargar más películas -->
        <div class="d-flex justify-content-center mt-3">
          <button 
            class="btn btn-primary btn-lg sombra azulOscuro jockeyOne w-100" 
            (click)="cargarMasPeliculas()">
            Mostrar más películas
          </button>
        </div>
      </div>
    </div>
  </div>
  