/* TIPOGRAFÍAS --------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'jockeyOne';
    src: url(../../fonts/JockeyOne-Regular.ttf);
}

.jockeyOne {
    font-family: 'jockeyOne';
}

@font-face {
    font-family: 'freeman';
    src: url(../../fonts/Freeman-Regular.ttf);
}

.freeman {
    font-family: 'freeman';
}

@font-face {
    font-family: 'poppins';
    src: url(../../fonts/Poppins-Medium.ttf);
}

.poppins {
    font-family: 'poppins';
}

/* GRID LAYOUT --------------------------------------------------------------------------------------------------------- */

.series-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
}

@media (max-width: 768px) {
  .series-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .series-grid {
    grid-template-columns: 1fr;
  }
}

/* BOTÓN MOSTRAR MÁS --------------------------------------------------------------------------------------------------- */

.sombra {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 25%);
}

.azulOscuro{
    background-color: #000A1E;
}

.azul{
    color: #001743;
}

/* FILTROS ------------------------------------------------------------------------------------------------------------- */

.genero-btn {
    background-color: #E95573;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

/* Color del botón al estar seleccionado */
.btn-check:checked + .genero-btn {
    background-color: #20B7E5;
    color: white;
    border: none;
}

.genero-btn:hover {
    background-color: #20B7E5; 
    color: white;
}

.scroll-container {
    max-height: calc(4 * 90px); /* Ajusta según la altura de una fila */
    overflow-y: auto;
    padding-right: 10px; /* Espacio para evitar que el scroll tape el contenido */
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de scroll */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #cccccc; /* Color del thumb */
    border-radius: 3px; /* Bordes redondeados */
  }
  
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #888888; /* Color al pasar el cursor */
  }